{% extends 'base.html.twig' %} {% block title %} Guia {% endblock %} {% block
header %} {% include 'nav/_menu_guia.html.twig' %} {% endblock %} {% block body
%}
<div id="main-container" class="container my-5">
  <div
    class="modal fade mt-5"
    id="reservaModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          {% for item in data %}
          {{ dump(data) }}
          <h5 class="modal-title" id="reservaModal">{{ item.titulo }}</h5>
          {% endfor %}
          <button
            type="button"
            class="btn-close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center align-middle">Pax</th>
                  <th class="text-center align-middle">Guía</th>
                  <th class="text-center align-middle">Efectivo</th>
                  <th class="text-center align-middle">Validar</th>
                  <th class="text-center align-middle">Recaudación</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Cantidubiduba</td>
                  <td>Federico Lopez</td>
                  <td>
                    <input type="text" class="form-control" id="efectivo" />
                  </td>
                  <td>
                    <button type="button" class="btn-primary">Validar</button>
                  </td>
                  <td>700 €</td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between eventosBtn">
              <button class="btn btn-warning">Nueva reserva</button>
              <button class="btn btn-success">Foto</button>
            </div>
            <div class="observaciones">
              <h5>Añadir observación</h5>
              <hr />
              <textarea
                name="observacion"
                id="observacion"
                cols="30"
                rows="10"
                placeholder="Escribe tus observaciones..."
              ></textarea>
              <button class="btn btn-success col-md-6 mb-3">
                Publicar observación
              </button>
            </div>
            <div class="asistentes">
              <table class="table">
                <thead>
                  <tr>
                    <th>Asistió</th>
                    <th>Cliente</th>
                    <th>Cantidad</th>
                    <th>E-mail</th>
                    <th>Teléfono</th>
                  </tr>
                </thead>
                <tbody>
                  <td>
                    <input type="checkbox" id="asistencia" />
                  </td>
                  <td>Federico Perez</td>
                  <td>cantidad</td>
                  <td>ijfijif@gmail.com</td>
                  <td>0765656565</td>
                </tbody>
              </table>
              {# {% endfor %} #}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-secondary" data-dismiss="modal">
            Cerrar
          </button>
          <button type="button" id="guardarBtn" class="btn-primary">
            Guardar cambios
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="calendario"></div>
</div>
{% endblock %} {% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"
  integrity="sha256-8EcfIJRWyvnu/U0OsfCk05x1JGVmeC2a7sJQHrbWYSA="
  crossorigin="anonymous"
></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
      let calendarEl = document.getElementById("calendario");

      $.ajaxSetup({
        headers:{
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'),
        }
      });

      let eventData = {{ data|raw }};


      let events = eventData.map(event => ({
        id: event.id,
        title: event.titulo,
        start: event.inicio,
        end: event.fin,
        cantidad: event.cantidadAsistentes
    }));

      let calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale: "es",
        timeZone: "Europe/Paris",
        headerToolbar: {
            start: "prev, next today",
            center: "title",
            end: "dayGridMonth, timeGridWeek, list",
        },
        buttonText: {
            today: "Hoy",
            month: "Mes",
            week: "Semana",
            list: "Día"
        },
        events: events,selectable: true,
        selectHelper: true,
        select: function (start, end) {
            $('#reservaModal').modal('toggle');

            $('#guardarBtn').click(function() {
                let titulo = $('#title').val();
                let start_date = moment(start).format('YYYY-MM-DD');
                let end_date = moment(end).format('YYYY-MM-DD');

                let requestData = {
                    titulo: titulo,
                    start_date: start_date,
                    end_date: end_date
                };

                $.ajax({
                    url: "{{ path('store') }}",
                    method: "POST",
                    dataType: "json",
                    data: {titulo, start_date, end_date},
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        if (error.responseJSON && error.responseJSON.errors) {
                            for (const field in error.responseJSON.errors) {
                                $('#' + field + 'error').html(error.responseJSON.errors[field]);
                            }
                        }
                    }
                });
            });

        },
        editable: false,
        eventResizableFromStart: true,
    });

    calendar.render();
  });
</script>
{% endblock %}
