.btn-primary {
    padding: 0.375rem 0.75rem;
    color: #fff;
    background-color: #18BB9C;
    border-color: #18BB9C;
    border-radius: 0.25rem;
    text-decoration: none;
  }
  
  .btn-secondary {
    color: #fff;
    background-color: #798889;
    border-color: #798889;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    text-decoration: none;
  }
  
  .btn-terciary {
    color: #fff;
    background-color: #3498DB;
    border-color: #3498DB;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    text-decoration: none;
  }
  
  .btn-user_nav {
    color: #fff;
    background-color: #E74C3C;
    border-color: #E74C3C;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    font-size: 1rem;
  
  }
  
  .btn-description {
    color: #333;
    background-color: transparent;
    border: 1px solid #18BB9C;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
  }
  
  .btn-home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    background-color: #18BB9C;
    border-color: #18BB9C;
    border-radius: 0.25rem;
    margin: auto;
  }
  
  .btn-home a {
    text-decoration: none;  
    color: #fff;
  }
