#main-container {
    color: $color-gray-dark;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Opcional: para centrar horizontalmente */
    padding-top: 40px;
    transition: all 300ms ease;
  }