/* -------------- CSS Mi Cuenta ------------------ */

.cuenta-container {
    width: 100%;
    height: 150px;
    background-color: $color-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    position: relative;
  }
  
  .datos_perso-container,
  .datos_factu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: $color-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    position: relative;
    padding: 0 1rem; /* Agregar un relleno a los contenedores para el margen interno */
  }
  
  .datos_perso-container .datos_perso-elementos,
.datos_factu-container .datos_perso-elementos {
  display: flex;
  align-items: center; /* Centrar los elementos verticalmente */
  margin-right: 1rem;
}
  
  .datos_perso-container a,
  .datos_factu-container a,
  .datos_form_reserva-container a {
    text-decoration: none;
    color: $color-gray-dark;
  }
  
  .datos_perso-container i,
  .datos_factu-container i {
    font-size: $main-font-size;
    font-weight: 900;
    color: $color-primary;
  }
  
  .cuenta-container .cuenta-elementos {
    display: flex;
    position: absolute;
    top: 1.5rem;
    left: 1rem;
  }
  
  .cuenta-container .cuenta-elementos .cuenta-imagen img {
    border-radius: 50%;
    width: 70%;
  }
  
  .cuenta-container .cuenta-elementos .cuenta-detalles ul {
    list-style: none;
    line-height: 1.6;
    margin-top: 0.5rem;
  }